@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

.nav-bar {
  background-color: $primary-black;
  @include tablet {
    display: flex;
    align-items: flex-end;
  }
  &__logo {
    height: 1.5rem;
    width: 100%;
    margin: 1rem 0;
    @include tablet {
      width: 65%;
      margin: 3vw 5vw;
    }
    @include desktop {
      margin-left: 10vw;
    }
  }
  &__list {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    @include tablet {
      justify-content: left;
      margin-left: 2vw;
    }
    @include desktop {
      margin-left: 4vw;
    }
  }
  &__bio-page {
    color: $primary-white;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    width: 50%;
    padding-bottom: 1rem;
    border-bottom: 3px solid $primary-white;
    text-decoration: none;
    &:hover {
      font-weight: 400;
      font-weight: normal;
    }
    @include tablet {
      width: 100%;
      border-bottom: 2px solid $primary-white;
      font-size: 0.8rem;
      padding: 3vw 0vw;
      margin-left: 2vw;
    }
    @include desktop {
      font-size: 1.2rem;
      padding-bottom: 2.5vw;
    }
  }
  &__shows-page {
    color: $primary-silver;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    width: 50%;
    text-decoration: none;
    &:hover {
      font-weight: 400;
      font-style: normal;
    }
    @include tablet {
      width: 20%;
      font-size: 0.9rem;
      padding: 3vw 3vw 3vw 10vw;
    }
    @include desktop {
      font-size: 1.2rem;
      text-align: left;
      padding-left: 2.5vw;
      padding-bottom: 2.5vw;
    }
  }
}
.main-page {
  position: relative;
  &__hero {
    height: 60vw;
    width: 100%;
    overflow: hidden;
    background-image: url("../assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    @include tablet {
      // height: 0vw;
      // margin: 0vw;
    }
    &--overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(50, 50, 50, 0.4);
      @include tablet {
        background-color: rgba(50, 50, 50, 0.5);
      }
    }
    @include tablet {
      height: 53vw;
    }
  }
  &__heading {
    color: $primary-white;
    padding: 25vw 0vw 3vw 4vw;
    margin-left: 2vw;
    font-size: 1.5rem;
    font-weight: 600;
    @include tablet {
      font-size: 3.5rem;
      letter-spacing: 0.1rem;
    }
    @include desktop {
      font-size: 3.5rem;
      margin-left: 8vw;
      padding-top: 18.6vw;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    &--band-article {
      margin: 5vw 2vw 6vw 3vw;
      margin-top: 5vw;
      margin-bottom: 6vw;
      padding: 1vw;
      @include tablet {
        margin-bottom: 2vw;
      }
      @include desktop {
        margin: 2vw 2vw 1vw 3vw;
      }
    }
    &--band-frase {
      font-size: 0.8rem;
      letter-spacing: 0.02vw;
      line-height: 5vw;
      font-weight: 600;
      color: $primary-black;
      margin: 0vw 5vw 3vw 5vw;
      margin-top: 0vw;
      margin-bottom: 3vw;
      @include tablet {
        font-size: 1.4rem;
        line-height: 3.8vw;
        margin: 0vw 11vw;
      }
      @include desktop {
        font-size: 1.2rem;
        line-height: 2.1vw;
        margin: 0vw 34vw 0vw 20vw;
      }
    }
    &--frase-author {
      margin: 3vw 0vw 0vw 0vw;
      @include tablet {
        font-size: 1rem;
        font-weight: 600;
        margin-top: 1.1vw;
      }
    }
    &--heading-article {
      color: $secondary-black;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0.03vw;
      margin-bottom: 4vw;
      @include tablet {
        font-size: 1.35rem;
        font-weight: 600;
        margin: 1vw 7vw;
      }
      @include desktop {
        margin-left: 16vw;
      }
    }
    &--article {
      color: $primary-black;
      font-size: 0.79rem;
      letter-spacing: 0.01vw;
      line-height: 5vw;
      @include tablet {
        font-size: 0.8rem;
        letter-spacing: 0vw;
        line-height: 2.9vw;
        padding: 1vw 2vw 0vw 0vw;
        margin-top: 1vw;
      }
      @include desktop {
        line-height: 1.5vw;
      }
    }
    &--article--secondary {
      margin-top: 3vw;
      @include tablet {
        margin-top: 0vw;
      }
    }
    &--container {
      @include tablet {
        display: flex;
        margin: 2vw 11vw 0vw 7vw;
        margin-top: 2vw;
        margin-bottom: 0vw;
      }
      @include desktop {
        margin: 2vw 16vw 0vw 15vw;
      }
    }
  }
  &__about--heading {
    font-size: 1.2rem;
    font-weight: 700;
    color: $primary-black;
    letter-spacing: 0.1rem;
    margin: 7vw 5vw 0vw 5vw;
     margin-top: 7vw;
      margin-bottom: 0vw;
    @include tablet {
      font-size: 2rem;
      font-weight: 600;
      margin-top: 5vw;
    }
    @include desktop {
      margin: 3vw 5vw 0vw 11vw;
    }
  }
  &__image {
    width: 90%;
    margin: 3vw 0vw 3vw 5vw;
    @include tablet {
      width: 80vw;
      height: 40vw;
      margin: 3vw 0vw 4vw 10vw;
    }
    @include desktop {
      width: 60vw;
      height: 50vh;
      margin: 3vw 0vw 2vw 20vw;
    }
  }
  &__photo-gallery {
    background-color: $secondary-white;
    padding-bottom: 3vw;
  }
  &__photo-gallery img {
    @extend .main-page__image;
    margin-bottom: 0vw;
    @include tablet {
      width: 25%;
      height: 10%;
      margin: 2vw 0vw 1vw 6.5vw;
    }
    @include desktop {
      width: 25vw;
      height: 20vh;
      margin: 1vw;
    }
  }
  &__photo-gallery > p {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 7vw 3vw 2vw 5vw;
    @include tablet {
      font-size: 2.8rem;
      font-weight: 600;
    }
    @include desktop {
      padding: 3vw 9vw 2vw 10vw;
    }
  }
  &__photo-gallery--container {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
    @include desktop {
      padding: 0vw 9vw;
    }
  }
}

.form {
border-bottom: 1px solid $secondary-silver;
padding: 2vw;
margin: 4vw;
width: 80%;
// position: relative;
// margin-top: 3vw;
// margin-bottom: 3vw;
&__heading {
  font-size: 1.2rem;
  font-weight: 700;
  color: $primary-black;
  letter-spacing: 0.1rem;
  margin-bottom: 1vw;
  @include tablet {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
  }
}
&__content {
  display: flex;
  flex-direction: column;
  position: relative;
}
&__input-container {
  position: relative;
  left: 10vw;
  bottom: 0vw;
}
&__content-label {
  font-size: 0.5rem;
  color: $primary-silver;
  margin-top: 4vw;
  @include tablet {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
&__content-box {
  border: 1px solid $secondary-silver;
  border-radius: 4px;
  background-color: $secondary-white;
  height: 5vw;
  padding: 0.7rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  position: relative;
  @include tablet {
    height: 6.5vw;
    padding: 1rem;
  }
}
&__content-box--tablet {
  @include tablet {
    height: 13vw;
  }
}
  &__button {
    width: 76vw;
    height: 8vw;
    font-size: 0.5rem;
    color: $primary-white;
    background-color: $primary-black;
    border-radius: 4px;
    padding: 2vw;
    margin-top: 2vw;
    @include tablet {
      width: 22vw;
      height: 5.5vw;
      font-size: 1rem;
      padding: 1vw;
      position: relative;
      left: 54vw;
    }
  }
  &__button:hover {
    background-color: $secondary-black;
  }
&__input-container {
  display: flex;
  flex-direction: column;
}
&__image {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  position: absolute;
  @include desktop {
    width: 60vw;
    height: 50vh;
    margin: 3vw 0vw 2vw 20vw;
  }
  }
  &__container--grey {
    background-color: $secondary-silver;
    position: absolute;
    top: 8vw;
  @extend .form__image;
  @include tablet {
    width: 6vw;
    height: 6vw;
    top:5vw;
  }
  }

::placeholder {
  color: $primary-black;
  font-size: 0.7rem;
  @include tablet {
    font-size: 0.8rem;
    letter-spacing: 0.07rem;
    padding: 0vw;
    position: absolute;
    top: 2.5vw;
  }
}
}
.comments {
  background-color: white;
  font-size: 0.7rem;
  @include tablet {
    position: relative;
  }
&__card {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: $secondary-silver;
  position: relative;
  top: 23vw;
  right: 2vw;
  @include tablet {
    // width: 10vw;
    // height: 10vw;
    position: relative;
    left: 2vw;
    top: 14vw;
  }
  @include desktop {
    width: 60vw;
    height: 50vh;
    margin: 3vw 0vw 2vw 20vw;
  }
}
}
.user__name {
  font-size: 0.8rem;
  font-weight: 600;
  position: relative;
  left: 9vw;
  top: 13vw;
  @include tablet {
    top: 6.8vw;
    left: 12vw;
  }
}
.comments__date {
  font-size: 0.8rem;
  color: $primary-silver;
  font-weight: 400;
  position: relative;
  left: 65vw;
  top: 8vw;
  width: 35%;
  @include tablet {
    top: 5vw;
  }
  @include desktop {

  }
}
.comments__description {
  font-size: 0.79rem;
  border-top: 1px solid $secondary-silver;
  padding-top: 10vw;
  position: relative;
  left: 9vw;
  @include tablet {
    font-size: 0.9rem;
    left: 12vw;
    padding-top: 8vw;
  }
}
.footer {
  background-color: $primary-black;
  display: flex;
  flex-direction: column;
  padding: 6vw 4vw;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3vw 4vw 12vw 4vw;
    position: relative;
  }
  @include desktop {
    padding: 1vw 8vw 5vw 8vw;
  }
  &__message {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 3vw;
    @include tablet {
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.15rem;
      margin-top: 3.3vw;
    }
    @include desktop {
      margin-bottom: 0vw;
      padding-bottom: 0vw;
    }
  }
  & > div {
    color: $secondary-white;
    font-size: 0.65rem;
    letter-spacing: 0.01rem;
    padding: 3vw;
    padding: 1vw;
    @include tablet {
      letter-spacing: 0.02rem;
      padding: 2vw;
    }
  }
  &__icons > img {
    margin-right: 11vw;

    @include tablet {
      margin-right: 3vw;
      padding-top: 1.5vw;
      margin-top: 3.3vw;
    }
    @include desktop {
      margin-right: 2vw;
      padding-top: 0.7vw;
    }
  }
  &__icons {
    @include tablet {
      margin-right: 20vw;
    }
    @include desktop {
      margin-left: 0.9vw;
    }
  }
  &__info {
    @include tablet {
      display: flex;
    }
    &--container {
      @include tablet {
        margin-left: 5vw;
      }
      &--separate {
        @include tablet {
          margin-left: 4vw;
        }
      }
    }
  }
  &__names {
    font-weight: 600;
    margin-top: 5vw;
    @include tablet {
      color: $primary-white;
      font-size: 0.8rem;
      font-weight: 400;
      margin-top: 0vw;
      margin-right: 3vw;
      margin-bottom: 4vw;
    }
    @include desktop {
      margin-bottom: 2vw;
    }
  }
  &__details {
    margin-top: 3vw;
    @include tablet {
      margin-top: 1vw;
    }
    @include desktop {
      margin-top: 0vw;
    }
  }
  &__emails {
    margin-top: 3vw;
    @include desktop {
      margin-top: 2.5vw;
      margin-bottom: 1vw;
    }
  }
  &-logo {
    width: 42%;
    margin-top: 13vw;
    @include tablet {
      width: 15%;
      margin-top: 0vw;
      position: absolute;
      left: 75vw;
      top: 9vw;
    }
    @include desktop {
      width: 8%;
      position: absolute;
      left: 72vw;
      top: 4vw;
    }
  }
  &__copyright {
    font-size: 0.65rem;
    @include tablet {
      font-size: 0.8rem;
      position: absolute;
      left: 0vw;
      bottom: 6vw;
      padding-left: 6vw;
    }
    @include desktop {
      position: absolute;
      left: 4vw;
      bottom: 2vw;
    }
  }
}

