@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

.nav-bar {
  background-color: $primary-black;
  @include tablet {
    display: flex;
    align-items: flex-end;
  }
  &__logo {
    height: 1.2rem;
    width: 100%;
    margin: 1rem 0;
    @include tablet {
      width: 55%;
      margin: 2vw 5vw;
    }
    @include desktop {
      margin-left: 10vw;
    }
  }
  &__list {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    @include tablet {
      justify-content: left;
      margin-left: 2vw;
    }
    @include desktop {
      margin-left: 4vw;
    }
  }
  &__bio-page {
    color: $primary-silver;
    font-weight: 400;
    text-align: center;
    width: 50%;
    text-decoration: none;
    @include tablet {
      width: 8%;
      border-bottom: 2px solid $primary-white;
      font-size: 12px;
      padding-bottom: 3.3vw;
    }
    @include desktop {
      font-size: 1.2rem;
      padding-bottom: 2.5vw;
    }
  }
  &__shows-page {
    color: $primary-white;
    font-weight: 600;
    text-align: center;
    width: 50%;
    padding-bottom: 1rem;
    border-bottom: 3px solid $primary-white;
    text-decoration: none;
    &:hover {
      font-weight: 400;
      font-style: normal;
    }
    @include tablet {
      width: 20%;
      font-size: 1rem;
    }
    @include desktop {
      font-size: 16px;
      text-align: left;
      padding-left: 2.5vw;
      padding-bottom: 2.5vw;
    }
  }
}
.shows-page {
  &__hero {
    height: 45vh;
    overflow: hidden;
    background-image: url("../assets/Images/Photo-gallery-3.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 10vw;
    padding-bottom: 10vw;
    &--overlay {
      height: 100%;
      height: 45vh;
      background-color: rgba(50, 50, 50, 0.4);
      display: flex;
      flex-direction: column;
      margin-bottom: 10vw;
      padding-bottom: 10vw;
      @include tablet {
        background-color: rgba(50, 50, 50, 0.5);
      }
    }
    @include tablet {
      height: 53vw;
    }
  }
  &__heading {
    color: $primary-white;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10vw 0vw 0vw 3vw;
    margin-left: 2vw;
    @include tablet {
      font-size: 3.1rem;
      letter-spacing: 0.1rem;
    }
    @include desktop {
      font-size: 3.5rem;
      margin-left: 8vw;
      padding-top: 18.6vw;
    }
  }
  &__main-heading {
    @extend .shows-page__heading;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    //  margin-top: 5vw;
  }
  &__description {
    margin: 5vw;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
  }
  &__about--heading {
    @extend .shows-page__main-heading;
  }
}
.shows__labels {
  @extend .shows-page__heading;
  color: $primary-silver;
  letter-spacing: 0rem;
  font-weight: 600;
  padding: 5vw 0vw 0vw 0vw;
  margin-top: 5vw;
  margin-left: 0vw;
}
.shows__date {
  @extend .shows-page__heading;
  color: $primary-black;
  font-weight: 700;
  padding: 5vw 0vw 0vw 0vw;
  margin-left: 0vw;
}
.shows__venue,
.shows__location {
  @extend .shows__date;
  font-weight: 600;
}
.shows__location {
  margin-bottom: 8vw;
}
.button__tickets {
  width: 100%;
  color: $secondary-white;
  background-color: $secondary-black;
  border-radius: 3px;
  font-weight: 400;
  padding: 2vw;
  margin-bottom: 3vw;
}
.shows__divider {
  background-color: $secondary-silver;
  margin-top: 3vw;
  border-bottom: 1px solid $secondary-silver;
  width: 100%;
}
.main-main__song {
  width: 80%;
  height: 30%;
  border: 0px solid $primary-white;
  border-radius: 4px;
  margin: 8vw 0vw 0vw 10vw;
}

.footer {
  background-color: $primary-black;
  display: flex;
  flex-direction: column;
  padding: 5vw 4vw;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3vw 4vw 12vw 4vw;
    position: relative;
  }
  @include desktop {
    padding: 1vw 8vw 5vw 8vw;
  }
  &__message {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 3vw;
    @include tablet {
      font-weight: 600;
      letter-spacing: 0.15rem;
    }
    @include desktop {
      margin-bottom: 0vw;
      padding-bottom: 0vw;
    }
  }
  & > div {
    color: $secondary-white;
    font-size: 0.65rem;
    letter-spacing: 0.01rem;
    padding: 3vw;
    padding: 1vw;
    @include tablet {
      letter-spacing: 0.02rem;
      padding: 2vw;
    }
  }
  &__icons > img {
    margin-right: 11vw;

    @include tablet {
      margin-right: 3vw;
      padding-top: 1.5vw;
    }
    @include desktop {
      margin-right: 2vw;
      padding-top: 0.7vw;
    }
  }
  &__icons {
    @include tablet {
      margin-right: 20vw;
    }
    @include desktop {
      margin-left: 0.9vw;
    }
  }
  &__info {
    @include tablet {
      display: flex;
    }
    &--container {
      @include tablet {
        margin-left: 3vw;
      }
      &--separate {
        @include tablet {
          margin-left: 4vw;
        }
      }
    }
  }
  &__names {
    font-weight: 600;
    margin-top: 5vw;
    @include tablet {
      color: $primary-white;
      font-size: 0.8rem;
      font-weight: 400;
      margin-top: 0vw;
      margin-right: 3vw;
      margin-bottom: 3vw;
    }
    @include desktop {
      margin-bottom: 2vw;
    }
  }
  &__details {
    margin-top: 3vw;
    @include tablet {
      margin-top: 0vw;
    }
    @include desktop {
      margin-top: 0vw;
    }
  }
  &__emails {
    margin-top: 3vw;
    @include desktop {
      margin-top: 1.5vw;
    }
  }
  &-logo {
    width: 42%;
    margin-top: 13vw;
    @include tablet {
      width: 13%;
      margin-top: 0vw;
      position: absolute;
      left: 77vw;
      top: 5vw;
    }
    @include desktop {
      width: 8%;
      position: absolute;
      left: 72vw;
      top: 4vw;
    }
  }
  &__copyright {
    font-size: 0.65rem;
    @include tablet {
      font-size: 0.8rem;
      position: absolute;
      left: 0vw;
      bottom: 6vw;
      padding-left: 6vw;
    }
    @include desktop {
      position: absolute;
      left: 4vw;
      bottom: 2vw;
    }
  }
}
