@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

.nav-bar {
  background-color: $primary-black;
  @include tablet {
    display: flex;
    align-items: flex-end;
  }
  &__logo {
    height: 1.5rem;
    width: 100%;
    margin: 1rem 0;
    @include tablet {
      width: 65%;
      margin: 3vw 5vw;
    }
    @include desktop {
      width: 45%;
      margin: 2.5vw 5vw 2.5vw 10vw;
    }
  }
  &__list {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    @include tablet {
      justify-content: left;
      margin-left: 2vw;
    }
    @include desktop {
      margin-left: 4vw;
    }
  }
  &__bio-page {
    color: $secondary-silver;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    width: 50%;
    text-decoration: none;
    @include tablet {
      width: 13%;
      font-size: 0.8rem;
      padding: 3vw 3vw 3vw 4vw;
    }
    @include desktop {
      font-size: 0.85rem;
      padding: 3vw 3vw 2.5vw 0vw;
    }
  }
  &__shows-page {
    color: $primary-white;
    font-weight: 600;
    text-align: center;
    width: 50%;
    padding-bottom: 1rem;
    border-bottom: 3px solid $primary-white;
    text-decoration: none;
    &:hover {
      font-weight: 400;
      font-style: normal;
    }
    @include tablet {
      width: 7%;
      font-size: 0.9rem;
      padding: 3vw 3vw 3vw 0vw;
      margin-left: 10vw;
    }
    @include desktop {
      width: 6%;
      font-size: 0.8rem;
      text-align: left;
      margin-left: 0vw;
      padding-left: 0.5vw;
    }
  }
}
.shows-page {
  &__hero {
    height: 45vh;
    overflow: hidden;
    background-image: url("../assets/Images/Photo-gallery-3.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 10vw;
    padding-bottom: 10vw;
    @include tablet {
      height: 67vh;
      margin: 0vw;
    }
    @include desktop {
      height: 85vh;
    }
    &--overlay {
      height: 100%;
      height: 45vh;
      background-color: rgba(50, 50, 50, 0.4);
      display: flex;
      flex-direction: column;
      margin-bottom: 10vw;
      padding-bottom: 10vw;
      @include tablet {
        height: 85vh;
        background-color: rgba(50, 50, 50, 0.5);
      }
      @include desktop {
        position: relative;
      }
    }
  }
  &__heading {
    color: $primary-white;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10vw 0vw 0vw 3vw;
    margin-left: 2vw;
    @include tablet {
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.13rem;
      padding-top: 7vw;
      padding-bottom: 2vw;
    }
    @include desktop {
      font-size: 1.5rem;
      margin-left: 8vw;
      padding-top: 10vw;
      letter-spacing: 0rem;
    }
  }
  &__main-heading {
    @extend .shows-page__heading;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    @include tablet {
      font-size: 3.3rem;
      padding-top: 0vw;
      margin-right: 18vw;
    }
    @include desktop {
      width: 38%;
      font-size: 3.3rem;
      margin-left: 8vw;
      padding-top: 0vw;
    }
  }
  &__description {
    margin: 5vw;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    @include tablet {
      font-size: 2.2rem;
      margin-top: 6vw;
      display: flex;
      flex-direction: column;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 3vw;
      position: relative;
    }
    &__about--heading {
      @extend .shows-page__main-heading;
      @include desktop {
        font-size: 10rem;
        padding-top: 10vw;
      }
    }
  }
  &__description-container {
    background-color: transparent;
    color: transparent;
    font-size: 0rem;
    display: flex;
    @include tablet {
      color: $primary-silver;
      letter-spacing: 0rem;
      font-size: 0.8rem;
      font-weight: 600;
    }
    @include desktop {
      width: 60%;
      padding-left: 2vw;
    }
  }
}
.show-page__labels {
  @include tablet {
    margin: 5vw 20vw 0vw 0vw;
    font-size: 0.7rem;
  }
  @include desktop {
    font-size: 0.75rem;
    margin-right: 14vw;
  }
}
.show-page__table {
  width: 65%;
}
.show-page__labels--venue {
  @include tablet {
    margin-right: 13.5vw;
  }
  @include desktop {
    margin-right: 10.5vw;
  }
}
.main-main__song {
  width: 80%;
  height: 30%;
  border-radius: 4px;
  margin: 8vw 0vw 0vw 10vw;
  @include tablet {
    width: 50%;
    height: 25%;
    margin: 5vw 0vw 0vw 6vw;
  }
  @include desktop {
    width: 20%;
    position: relative;
    left: 40vw;
    bottom: 18vw;
  }
}
.shows__container {
  border-bottom: 2px solid $secondary-silver;
  &:hover {
    background-color: $secondary-white;
  }
  &:active {
    background-color: $secondary-silver;
  }
  @include tablet {
    display: flex;
  }
  @include desktop {
    border-bottom: 0.5px solid $secondary-silver;
  }
}

.shows__labels {
  @extend .shows-page__heading;
  color: $primary-silver;
  letter-spacing: 0rem;
  font-weight: 700;
  padding: 5vw 0vw 0vw 0vw;
  margin-top: 5vw;
  margin-left: 0vw;
  @include tablet {
    display: none;
  }
}
.shows__date {
  @extend .shows-page__heading;
  color: $primary-black;
  font-weight: 700;
  padding: 5vw 0vw 0vw 0vw;
  margin-left: 0vw;
  @include tablet {
    width: 35%;
    display: flex;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    padding-bottom: 0vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
  @include desktop {
    width: 30%;
    font-size: 0.9rem;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
  }
}
.shows__venue {
  @extend .shows__date;
  font-weight: 600;
  @include tablet {
    width: 20%;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0vw;
  }
  @include desktop {
    width: 14%;
    font-size: 0.9rem;
    padding: 2vw 0vw;
  }
}
.shows__location {
  @extend .shows__date;
  font-weight: 600;
  margin-bottom: 8vw;
  @include tablet {
    width: 28%;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 5vw;
    margin-bottom: 0vw;
    align-items: flex-start;
  }
  @include desktop {
    width: 15%;
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 0vw;
  }
}
.button__tickets {
  width: 100%;
  color: $secondary-white;
  background-color: $primary-black;
  border-radius: 6px;
  font-weight: 400;
  padding: 2vw;
  margin-bottom: 3vw;
  @include tablet {
    width: 27%;
    height: 14%;
    padding: 1vw;
    margin-left: 10vw;
    position: relative;
    top: 2vw;
  }
  @include desktop {
    width: 19%;
    font-size: 0.85rem;
    padding: 0.8vw;
    margin: 0vw 2vw 1vw 2vw;
    top: 1vw;
    left: 3vw;
  }
  &:active {
    background-color: $secondary-black;
  }
  &:hover {
    background-color: $secondary-black;
  }
}
.main-main__song {
  width: 80%;
  height: 30%;
  border-radius: 4px;
  margin: 8vw 0vw 0vw 10vw;
  @include tablet {
    width: 50%;
    height: 27%;
    margin: 5vw 0vw 0vw 6vw;
  }
}
.footer {
  background-color: $primary-black;
  display: flex;
  flex-direction: column;
  padding: 6vw 4vw;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3vw 4vw 12vw 4vw;
    position: relative;
  }
  @include desktop {
    padding: 1vw 8vw 5vw 8vw;
  }
  &__message {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 3vw;
    @include tablet {
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.15rem;
      margin-top: 1vw;
    }
    @include desktop {
      margin-bottom: 0vw;
      padding-bottom: 0vw;
    }
  }
  & > div {
    color: $secondary-white;
    font-size: 0.65rem;
    letter-spacing: 0.01rem;
    padding: 3vw;
    padding: 1vw;
    @include tablet {
      letter-spacing: 0.02rem;
      padding: 2vw;
    }
  }
  &__icons > img {
    margin-right: 11vw;

    @include tablet {
      margin-right: 3vw;
      padding-top: 1.5vw;
      margin-top: 1vw;
    }
    @include desktop {
      margin-right: 2vw;
      padding-top: 0.7vw;
    }
  }
  &__icons {
    @include tablet {
      margin-right: 20vw;
    }
    @include desktop {
      margin-left: 0.9vw;
    }
  }
  &__info {
    @include tablet {
      display: flex;
    }
    &--container {
      @include tablet {
        margin-left: 5vw;
      }
      &--separate {
        @include tablet {
          margin-left: 4vw;
        }
      }
    }
  }
  &__names {
    font-weight: 600;
    margin-top: 5vw;
    @include tablet {
      color: $primary-white;
      font-size: 0.8rem;
      font-weight: 400;
      margin-top: 0vw;
      margin-right: 3vw;
      margin-bottom: 4vw;
    }
    @include desktop {
      margin-bottom: 2vw;
    }
  }
  &__details {
    margin-top: 3vw;
    @include tablet {
      margin-top: 1vw;
    }
    @include desktop {
      margin-top: 0vw;
    }
  }
  &__emails {
    margin-top: 3vw;
    @include desktop {
      margin-top: 2.5vw;
      margin-bottom: 1vw;
    }
  }
  &-logo {
    width: 42%;
    margin-top: 13vw;
    @include tablet {
      width: 15%;
      margin-top: 0vw;
      position: absolute;
      left: 75vw;
      top: 7vw;
    }
    @include desktop {
      width: 8%;
      position: absolute;
      left: 72vw;
      top: 4vw;
    }
  }
  &__copyright {
    font-size: 0.65rem;
    @include tablet {
      font-size: 0.8rem;
      position: absolute;
      left: 0vw;
      bottom: 6vw;
      padding-left: 6vw;
    }
    @include desktop {
      position: absolute;
      left: 4vw;
      bottom: 2vw;
    }
  }
}
