* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir";
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
.nav-bar {
  background-color: #323232;
}
@media (min-width: 768px) {
  .nav-bar {
    display: flex;
    align-items: flex-end;
    padding-top: 1vw;
  }
}
.nav-bar__logo {
  height: 1.5rem;
  width: 100%;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .nav-bar__logo {
    width: 65%;
    margin: 3vw 5vw;
  }
}
@media (min-width: 1280px) {
  .nav-bar__logo {
    margin-left: 10vw;
  }
}
.nav-bar__list {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .nav-bar__list {
    justify-content: left;
    margin-left: 2vw;
  }
}
@media (min-width: 1280px) {
  .nav-bar__list {
    margin-left: 4vw;
  }
}
.nav-bar__bio-page {
  color: #AFAFAF;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  width: 50%;
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav-bar__bio-page {
    width: 13%;
    font-size: 0.9rem;
    padding: 3vw 3vw 3vw 4vw;
  }
}
@media (min-width: 1280px) {
  .nav-bar__bio-page {
    font-size: 1.2rem;
    padding-bottom: 2.5vw;
  }
}
.nav-bar__shows-page {
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
  width: 50%;
  padding-bottom: 1rem;
  border-bottom: 3px solid #FFFFFF;
  text-decoration: none;
}
.nav-bar__shows-page:hover {
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 768px) {
  .nav-bar__shows-page {
    width: 30%;
    font-size: 0.9rem;
    padding: 3vw 3vw 3vw 0vw;
    margin-left: 10vw;
  }
}
@media (min-width: 1280px) {
  .nav-bar__shows-page {
    font-size: 16px;
    text-align: left;
    padding-left: 2.5vw;
    padding-bottom: 2.5vw;
  }
}

.shows-page__hero {
  height: 45vh;
  overflow: hidden;
  background-image: url("../assets/Images/Photo-gallery-3.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 10vw;
  padding-bottom: 10vw;
}
@media (min-width: 768px) {
  .shows-page__hero {
    height: 67vh;
    margin: 0vw;
  }
}
.shows-page__hero--overlay {
  height: 100%;
  height: 45vh;
  background-color: rgba(50, 50, 50, 0.4);
  display: flex;
  flex-direction: column;
  margin-bottom: 10vw;
  padding-bottom: 10vw;
}
@media (min-width: 768px) {
  .shows-page__hero--overlay {
    height: 85vh;
    background-color: rgba(50, 50, 50, 0.5);
  }
}
.shows-page__heading, .shows__date, .shows__location, .shows__venue, .shows__labels, .shows-page__main-heading, .shows-page__description__about--heading {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10vw 0vw 0vw 3vw;
  margin-left: 2vw;
}
@media (min-width: 768px) {
  .shows-page__heading, .shows__date, .shows__location, .shows__venue, .shows__labels, .shows-page__main-heading, .shows-page__description__about--heading {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.13rem;
    padding-top: 7vw;
    padding-bottom: 2vw;
  }
}
@media (min-width: 1280px) {
  .shows-page__heading, .shows__date, .shows__location, .shows__venue, .shows__labels, .shows-page__main-heading, .shows-page__description__about--heading {
    font-size: 3.5rem;
    margin-left: 8vw;
    padding-top: 18.6vw;
  }
}
.shows-page__main-heading, .shows-page__description__about--heading {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .shows-page__main-heading, .shows-page__description__about--heading {
    font-size: 3.3rem;
    padding-top: 0vw;
    margin-right: 18vw;
  }
}
.shows-page__description {
  margin: 5vw;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .shows-page__description {
    font-size: 2.2rem;
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .shows-page__shows {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    position: relative;
  }
}

.shows-page__description:hover {
  background-color: #FAFAFA;
}

.shows-page__description:active {
  background-color: #E1E1E1;
}

.shows__labels {
  color: #AFAFAF;
  letter-spacing: 0rem;
  font-weight: 600;
  padding: 5vw 0vw 0vw 0vw;
  margin-top: 5vw;
  margin-left: 0vw;
}
@media (min-width: 768px) {
  .shows__labels {
    display: none;
  }
}

.shows__date, .shows__location, .shows__venue {
  color: #323232;
  font-weight: 700;
  padding: 5vw 0vw 0vw 0vw;
  margin-left: 0vw;
}
@media (min-width: 768px) {
  .shows__date, .shows__location, .shows__venue {
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    padding-bottom: 0vw;
  }
}

.shows__venue {
  font-weight: 600;
}
@media (min-width: 768px) {
  .shows__venue {
    font-weight: 600;
    margin-left: 7vw;
  }
}

.shows__location {
  font-weight: 600;
  margin-bottom: 8vw;
}
@media (min-width: 768px) {
  .shows__location {
    font-weight: 600;
    margin-left: 5vw;
    align-items: flex-start;
  }
}

.button__tickets {
  width: 100%;
  color: #FAFAFA;
  background-color: #323232;
  border-radius: 6px;
  font-weight: 400;
  padding: 2vw;
  margin-bottom: 3vw;
}
@media (min-width: 768px) {
  .button__tickets {
    width: 23%;
    height: 14%;
    padding: 1vw;
    margin-left: 10vw;
    position: relative;
    top: 4vw;
  }
}

.button__tickets:active {
  background-color: #000000;
}

.shows__divider {
  background-color: #E1E1E1;
  margin-top: 3vw;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
}
@media (min-width: 768px) {
  .shows__divider {
    display: none;
  }
}

.main-main__song {
  width: 80%;
  height: 30%;
  border-radius: 4px;
  margin: 8vw 0vw 0vw 10vw;
}
@media (min-width: 768px) {
  .main-main__song {
    width: 50%;
    height: 27%;
    margin: 5vw 0vw 0vw 6vw;
  }
}

.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  padding: 6vw 4vw;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3vw 4vw 12vw 4vw;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 1vw 8vw 5vw 8vw;
  }
}
.footer__message {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 3vw;
}
@media (min-width: 768px) {
  .footer__message {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    margin-top: 3.3vw;
  }
}
@media (min-width: 1280px) {
  .footer__message {
    margin-bottom: 0vw;
    padding-bottom: 0vw;
  }
}
.footer > div {
  color: #FAFAFA;
  font-size: 0.65rem;
  letter-spacing: 0.01rem;
  padding: 3vw;
  padding: 1vw;
}
@media (min-width: 768px) {
  .footer > div {
    letter-spacing: 0.02rem;
    padding: 2vw;
  }
}
.footer__icons > img {
  margin-right: 11vw;
}
@media (min-width: 768px) {
  .footer__icons > img {
    margin-right: 3vw;
    padding-top: 1.5vw;
    margin-top: 3.3vw;
  }
}
@media (min-width: 1280px) {
  .footer__icons > img {
    margin-right: 2vw;
    padding-top: 0.7vw;
  }
}
@media (min-width: 768px) {
  .footer__icons {
    margin-right: 20vw;
  }
}
@media (min-width: 1280px) {
  .footer__icons {
    margin-left: 0.9vw;
  }
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
  }
}
@media (min-width: 768px) {
  .footer__info--container {
    margin-left: 5vw;
  }
}
@media (min-width: 768px) {
  .footer__info--container--separate {
    margin-left: 4vw;
  }
}
.footer__names {
  font-weight: 600;
  margin-top: 5vw;
}
@media (min-width: 768px) {
  .footer__names {
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0vw;
    margin-right: 3vw;
    margin-bottom: 4vw;
  }
}
@media (min-width: 1280px) {
  .footer__names {
    margin-bottom: 2vw;
  }
}
.footer__details {
  margin-top: 3vw;
}
@media (min-width: 768px) {
  .footer__details {
    margin-top: 1vw;
  }
}
@media (min-width: 1280px) {
  .footer__details {
    margin-top: 0vw;
  }
}
.footer__emails {
  margin-top: 3vw;
}
@media (min-width: 1280px) {
  .footer__emails {
    margin-top: 2.5vw;
    margin-bottom: 1vw;
  }
}
.footer-logo {
  width: 42%;
  margin-top: 13vw;
}
@media (min-width: 768px) {
  .footer-logo {
    width: 15%;
    margin-top: 0vw;
    position: absolute;
    left: 75vw;
    top: 9vw;
  }
}
@media (min-width: 1280px) {
  .footer-logo {
    width: 8%;
    position: absolute;
    left: 72vw;
    top: 4vw;
  }
}
.footer__copyright {
  font-size: 0.65rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 0.8rem;
    position: absolute;
    left: 0vw;
    bottom: 6vw;
    padding-left: 6vw;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    position: absolute;
    left: 4vw;
    bottom: 2vw;
  }
}/*# sourceMappingURL=shows.css.map */